*{padding: 0; margin: 0; box-sizing: border-box;}

body::before{
    content: '';

    width: 100%;
    height: 465px;

    background-color: #293241;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

body{
    background-color: #BFD7E4;
    font-family: 'Poppins', sans-serif;
}

h1, h2, legend , .button{
    font-family: 'Staatliches', cursive;
    color: white;
}

.page{
    width: 750px;
    margin: 0 auto 300px ;
}

header{
    width: 391px;
    margin: 107px auto 36px;

}

header h1{
    font-size: 36px;
    line-height: 45px; 
}

.header-form{

    width: 100% ;
    height: 133px;
    background-color:#F67669 ;

    border-radius: 20px 20px 0px 0px;
}

h2{
    font-size: 24px;
    line-height: 34px;

    padding: 50px 275px;
}

header p{
    font-size: 16px;
    line-height: 24px;
    color: #ffff;

    margin-bottom: 20px;
}

form{
    min-height: 300px;

    background: #FFFFFF;
    border-radius: 0px 0px 20px 20px;

    padding: 32px 64px 0 64px;

    display: flex;
    flex-direction: column;
    gap: 36px;

}

.input-wrapper input , 
.input-wrapper select, .input-wrapper textarea {
    width: 100%;
    height: 56px;

    background: #FAFAFC;
    border: 1px solid #E6E6F0;
    border-radius: 8px;

    padding-left: 10px;
    margin-top: 10px;

    color: #727272;
    font-size: 14px;
    line-height: 24px;
}

.input-wrapper label{
    color: #57545e;
    font-size: 14px;
    line-height: 24px;

}

.input-wrapper span:hover{
    color:#57545e
}

.input-wrapper span{
    font-size: 12px;
    line-height: 20px;
    color: #C1BCCC;

    margin-left:10px;
}

.colum-1{
    display: flex;
    gap: 29px;

}

.colum-1 input{
    width: 300px;
}

fieldset{
    border:none;
}

legend{
    font-size: 24px;
    color:#253B51;

    border-bottom: 1px solid #E6E6F0;
    text-align: center;
    padding-bottom: 8px;
}

.input-wrapper textarea{
    height: 170px;
}


.checkbox-wrapper label{
    display: flex;
    gap: 8px;
    align-items: center;

}

.checkbox-wrapper label::before{
    content: '';
    
    height: 24px;
    width: 24px;
    
    border: 1px solid #e6e6f0;
    background-color: #FAFAFC;
    border-radius: 8px;
    
}
.checkbox-wrapper{
    position: relative;
}

.checkbox-wrapper input{
    position: absolute;
    left: 0;
    top:0;
    opacity: 0;

    border-radius: 8px;
    width: 24px;
    height: 24px;

}

.input-wrapper input:invalid{
    border: 1px solid red;
}
    
.checkbox-wrapper input:checked + label::before{
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='14' viewBox='0 0 18 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 11.17L1.83 7L0.410004 8.41L6 14L18 2L16.59 0.589996L6 11.17Z' fill='%2342D3FF'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: left 50% top 50%;
}

.checkbox-wrapper input:focus + label::before{
    outline:1px solid rgb(24, 100, 253);
}

.input-wrapper select{
    appearance: none;

    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_54)'%3E%3Cpath d='M8 10L12 14L16 10' stroke='%239C98A6' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_54'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: right 5px top 50%;

    width: 300px;
    display: flex;
}

.beginEnd{
    display: flex;
    gap:10px
}

.date-wrapper{
    display: flex;
    gap:32px;
}

.flex-legend{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.button{
    background: #F67669;
    border-radius: 8px;
    border: none;

    height: 51px;
    margin: 28px 0 64px 0;

    font-size: 20px;
    line-height: 26px;

}

.button:hover{
    background-color: #d42612;
}

